body{
margin:0;
font-family:Arial;
background:#0f0f1a;
color:white;
text-align:center;
}

header{
padding:20px;
background:#111;
box-shadow:0 0 20px cyan;
}

input,button{
padding:8px;
margin:5px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#1a1a2e;
padding:30px;
border-radius:15px;
cursor:pointer;
transition:0.3s;
}

.card:hover{
transform:scale(1.1);
box-shadow:0 0 15px cyan;
}

.modal{
display:none;
position:fixed;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
}

.content{
background:#111;
width:90%;
max-width:500px;
margin:50px auto;
padding:20px;
border-radius:10px;
}

.close{
float:right;
cursor:pointer;
font-size:25px;
}

canvas{
background:black;
}

#leaderboard{
margin:20px;
}
